.clients__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-top: 0px;
  margin-bottom: 30px;
}

.cients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 210px;

  &:nth-child(2n) {
  margin-right: 0px;
}
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 210px;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;

  &:hover {
  background-color: $adress-color;
  border: solid 1px #2196f3;
}
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
  fill: $accent-text-color;
}

.clients__link:hover &,
.clients__link:focus & {
  fill: $accent-text-color;
}
}



