.client-card {
  width: 210px;
  height: 90px;

  @media screen and (max-width: 479px) {
    width: calc((100% - 30px) / 2);
  }

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: 226px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
    margin-bottom: 0;
  }
}

.client-item {
  fill: #afb1b8;
}

.client-card:hover .client-item,
.client-card:focus .client-item {
  fill: $primary-accent-color;
  transition: $hover-animation;
}

.client-card:hover,
.client-card:focus {
  border-color: $primary-accent-color;
  cursor: pointer;
  transition: $hover-animation;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
  }

  &-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
    color: $hr-text-color;
    margin-top: 60px;
    margin-bottom: 50px;

    @media screen and (min-width: $desktop) {
      margin-top: 94px;
    }
  }
}
