.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

// .footer-container {
//   display: flex;
//   justify-items: center;
//   align-items: baseline;
//   margin-left: auto;
//   margin-right: auto;
//   width: 1200px;
//   padding: 0px 15px;
// }

.page-footer{
    text-align: center;
}

.footer__logo__link {
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $accent-text-color;
}

.footer__logo--studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $adress-color;

}

.footer__adress {
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $adress-color;
  margin-top: 20px;
  margin-bottom: 8px;
//   margin-right: 70px;
}

.footer__mail {
  display: block;
  margin-bottom: 9px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__tel {
  display: block;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 0;

    color: #ffffff;
}

.footer__title__inverse {
  display: flex;
  color:  $adress-color;
  margin-bottom: 20px;
}

.footer__list {
  padding: 0px;
  display: flex;
}

.footer__item {
  margin-right: 10px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  background-color: $accent-text-color;
  cursor: pointer;
  border-radius: 50%;
}
}

.footer__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .footer__link:hover & {
  fill: #fff;
}
}

.form-footer {
  display: flex;
  
}



.form__title--footer {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: $adress-color;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}
.email__input {
  width: 450px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;

  padding-left: 16px;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;

  color: rgba(255, 255, 255, 0.6);

    &::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
}

.btn-footer {
  margin-left: 115px;
  width: 200px;
  height: 50px;

  background: $accent-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-color: transparent;

  color: $adress-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  background-color:  #188ce8;
}
}

.btn__icon {
  margin-left: 10px;
}



