.footer {
  background-color: $footer-color;
  padding-top: 60px;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 60px;
    text-align: left;
    height: 252px;
  }

  padding-bottom: 60px;
  height: auto;
  text-align: center;

  &-flex {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }

  &-adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 8px;
  }

  &-contacts-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-bottom: 8px;
  }

  &-contacts-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }

  &-title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 0;

    color: #ffffff;

    @media screen and (min-width: $desktop) {
      margin-top: 72px;
    }
  }

  &-social {
    @media screen and (min-width: $desktop) {
      margin-left: 70px;
    }
  }
}

.footer-flex-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
