.container {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.head {
  border-bottom: 1px solid #ececec;

  &-container {
    width: 100%;
  }
}

.head-box {
  display: flex;

  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    height: 80px;
  }
}

.menu-button-mobile {
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 9999;

  & .icon-close-mobile {
    display: none;
  }

  &.is-open .icon-close-mobile {
    display: block;
  }

  &.is-open .icon-menu-mobile {
    display: none;
  }

  &:hover {
    cursor: pointer;
    fill: $primary-accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container-mobile {
  @media screen and (max-width: 767px) {
    display: none;
    padding-left: 40px;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #ffffff;
    border-top: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;

    @media screen and (max-width: 767px) {
      box-shadow: none;
    }
  }

  &.is-open {
    // position: absolute;
    // top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 796px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.nav-tablet {
  display: flex;
}

.nav-link,
.nav-link-active {
  color: $hr-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-top: 48px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.142;

    margin-bottom: 0;
    margin-top: 0;
    margin-right: 50px;
  }
}

.nav-links {
  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    padding-right: 255px;
  }
}

.nav {
  &-mail {
    color: $primary-accent-color;
    display: inline-block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.14;

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 1.166;
      color: $primary-text-color;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 0;
      margin-bottom: 0px;
      margin-left: 10px;
      font-size: 14px;
      line-height: 1.142;
      color: $primary-text-color;
    }
  }

  &-link-active {
    position: relative;
    color: $primary-accent-color;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &-link-active::after {
    position: absolute;
    left: 0;
    bottom: -8px;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $primary-accent-color;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      bottom: -32px;
    }
  }

  &-link:hover,
  &-link:focus,
  &-mail:hover,
  &-mail:focus,
  &-tel:hover,
  &-tel:focus {
    transition: $hover-animation;
    color: $primary-accent-color;
  }

  &-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    text-align: left;
    color: $primary-text-color;
    display: inline-block;
    margin-bottom: 64px;

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 1.166;
      color: $primary-text-color;
      margin-bottom: 21px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 0;
      margin-bottom: 0px;
      margin-left: 10px;
      font-size: 14px;
      line-height: 1.142;
      color: $primary-text-color;
    }
  }

  &-contacts:hover,
  &-contacts:focus {
    transition: $hover-animation;
    color: $primary-accent-color;
  }

  .icon-mail,
  .icon-tel {
    fill: currentColor;

    @media screen and (max-width: 767px) {
      display: none;

      @media screen and (min-width: $desktop) {
      }
    }
  }

  &-contacts {
    @media screen and (min-width: $tablet) {
      padding-left: 35px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      padding-left: 30px;
    }
  }
}

.nav.icon-mail {
  width: 16px;
  height: 12px;
}

.nav.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and(min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.nav-socials {
  display: flex;
  margin-bottom: 48px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav-socials-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav-socials-item:last-child {
  border: none;
}

.nav-socials-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-accent-color;

  margin-right: 10px;
  margin-left: 10px;

  &-:first-child {
    margin-left: 0px;
  }
}
