.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1600px;
  height: 600px;
}

.hero__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $adress-color;

  margin-top: 0px;
  margin-bottom: 30px;
}

.hero__button {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $adress-color;
  background-color: $accent-text-color;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  background-color: #188ce8;
}
}

