.hero {
  width: 100%;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/header.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $footer-color;

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url("../images/tablet/header-tabl.jpg");
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url("../images/bg-hero.jpg");
    height: 600px;
  }

  text-align: center;
  margin-bottom: 30px;

  &-h {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    color: #ffffff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;

    @media screen and (max-width: 400px) {
      width: 100%;
    }

    padding-top: 118px;

    margin: 0 auto;
    margin-top: 0;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 60px;
      width: 696px;
      padding-top: 200px;
    }
  }

  &-btn {
    width: 1200px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: $primary-accent-color;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;

    margin-top: 30px;
    margin-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
  }

  &-btn:hover,
  &-btn:focus {
    transition: $hover-animation;
    color: $primary-accent-color;
    background-color: white;
    cursor: pointer;
  }
}
