.link > span {
  font-family: Raleway;
  color: $primary-accent-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo,
.logo-footer {
  font-family: Raleway;
  color: $hr-text-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-footer {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;
}
