.team__section {
 
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin: 0px;
  // margin-bottom: 50px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.team__list {
//   display: flex;
}

.team__item {
  width: 450px;
  height: 622px;
  background-color: $adress-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
//   margin-right: 30px;
    margin-bottom: 30px;
}
}

.team__img {
  display: block;
}

.employee__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $title-text-color;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.employee__text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $pirimary-text-color;
  text-align: center;
  margin: 0px;
}

.social-list {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  background-color: $accent-text-color;
  cursor: pointer;
  border-radius: 50%;
}
}

.link__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  fill: $adress-color;
}

.social__link:hover &,
.social__link:focus & {
  fill: $adress-color;
}
}




