.section-title-main {
  display: none;
  margin-top: 0px;
}

.portfolio-list {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item{
  width: 450px;
  margin-bottom: 30px;

  // &:last-child{
  //   margin-bottom: 60px;
  // }
}

// .portfolio-list__item {
//   width: calc((100% - 60px) / 3);
//   margin-right: 30px;
//   margin-top: 30px;

//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:nth-child(3n) {
//   margin-right: 0px;
// }

//     &:nth-child(-n + 3) {
//   margin-top: 0px;
// }
// }

.portfolio-list__link {
  display: block;
  text-decoration: none;

    &:hover,
    &:focus {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  top: 100%;

  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.overlay__text {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 63px 24px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 3%;
  color: $adress-color;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-text__title {
  padding-bottom: 4px;
  margin: 0px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: $title-text-color;
}

.portfolio-text__examples {
  padding-top: 0px;
  margin: 0px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: $pirimary-text-color;
}



