.port-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $hr-text-color;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
}

.port-sub {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 6%;
  color: $primary-text-color;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0;
}

.overlay-img {
  position: relative;
  overflow: hidden;
  height: 294px;

  @media screen and (max-width: 767px){
    height: 100%;
    
    
  }
}

.product {
  overflow: hidden;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
  }

  &-cards {
    display: block;

    height: 100%;

    @media screen and(min-width:$tablet) {
      flex-direction: column;
      height: 100%;
    }

    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;

    @media screen and(min-width:$tablet) {
      width: 354px;
    }

    @media screen and(min-width:$desktop) {
      width: 370px;
      height: 404px;
    }
  }

  &-label {
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 17.5px;
    line-height: 1.555;
    letter-spacing: 0.03em;

    background-color: rgba(33, 150, 243, 0.9);
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    overflow-y: auto;

    color: #ffffff;
    transition: $hover-animation;
    transition-duration: 500ms;
    transform: translateY(100%);
  }

  &-cards:hover,
  &-cards:focus {
    cursor: pointer;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &-cards:hover &-label,
  &-cards:focus &-label {
    transform: translateY(0);
  }
}


.product.list {
  @media screen and (min-width: $desktop) {
    padding-bottom: 64px;
  }
}
