
.section-examples{
  @media screen and (max-width: $tablet ) {
    display: none;

  }
}


.exemples__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-top: 0px;
  margin-bottom: 50px;
}

.exemples__list {
  display: flex;
}

.exemples__img {
  display: block;
}

.exemples__item {
  position: relative;

  &:not(:last-child) {
  margin-right: 30px;
}
}

.exemples__box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples__text {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $adress-color;
}